[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
free-disk = {editable = true, path = "."}

[dev-packages]
# v2.3.0 dropped python3.4 support
# https://github.com/PyCQA/astroid/commit/4a4b7faf9de8437f2b96bc7285802fd1230b7a9a
astroid = "<2.3.0"
# v1.2.0 dropped python3.4. support
# https://gitlab.com/python-devs/importlib_metadata/commit/cf58e1a6515adc4ad6f84cce5e89cd5ef830b317
importlib-metadata = "<1.2.0"
# v8.0.0 dropped python3.4 support
more-itertools = "<8"
# v2.4.0 dropped python3.4 support
# https://github.com/PyCQA/pylint/commit/927db96bbd343a61428faa0249fdeec58cfb3ebe
pylint = ">=2.3.0,<2.4.0"
# v5.0.0 dropped python3.4. support
# https://github.com/pytest-dev/pytest/commit/4d49ba65297102110ae8aeecdb3b82b23a231fba
pytest = "<5"

[requires]
python_version = "3"
