[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
free-disk = {editable = true, path = "."}

[dev-packages]
# v8.0.0 dropped python3.4 support
more-itertools = "<8"
pylint = ">=2.3.0"
pytest = "*"

[requires]
python_version = "3"
